# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.a
*.so
*.dylib
*.lib
*.out

# Test binary, built with `go test -c`
*.test

# Dependency directories
vendor/

# IDEs
.idea/
.vscode/

# Build
build/
tmp/
temp/
dist/
out/

# Other files
*.syso
*.json
